.itemContainer {
    display: flex;
    flex-direction: row;
    background-color: rgb(230, 222, 118);
    border: solid 1px black;
    margin: 5px;
    cursor: pointer;
}
.info {
    width: 60%;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 20px;
    text-align: center;
}
.image {
    width: 20%;
    margin-left: 5%;
}
.title {
    font-weight: 500;
}